In [1]:
#Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
#load the dataset using pandas library

df=pd.read_csv("AUDI.csv")

In [15]:
#to view all the present entries in dataset

df

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition
0,700,2.493592,11.790927,3.178981,84.144163,81.632187,1
1,876,2.941606,16.193866,2.464504,77.640934,82.445724,0
2,520,2.961746,6.553147,1.064347,77.752266,79.645777,1
3,473,3.707835,19.510172,3.727455,74.129907,71.774629,1
4,619,5.672919,15.738871,2.052251,78.396989,87.000225,0
...,...,...,...,...,...,...,...
19530,902,4.117296,4.981360,4.346564,75.951627,87.925087,1
19531,694,4.817720,10.866701,6.186689,75.281430,74.928459,1
19532,684,2.673344,4.927376,1.903572,76.844940,86.337345,1
19533,696,3.094163,8.291816,1.221729,77.179693,73.624396,1
19534,504,3.775246,3.962480,2.038647,75.564313,80.421421,1

In [17]:
#to view the total number of entries in the columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19535 entries, 0 to 19534
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Engine rpm        19535 non-null  int64
 1   Lub oil pressure  19535 non-null  float64
 2   Fuel pressure     19535 non-null  float64
 3   Coolant pressure  19535 non-null  float64
 4   lub oil temp      19535 non-null  float64
 5   Coolant temp      19535 non-null  float64
 6   Engine Condition  19535 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 1.0 MB

In [18]:
#display first 80 entries in the dataset

df.head(80)

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition
0,700,2.493592,11.790927,3.178981,84.144163,81.632187,1
1,876,2.941606,16.193866,2.464504,77.640934,82.445724,0
2,520,2.961746,6.553147,1.064347,77.752266,79.645777,1
3,473,3.707835,19.510172,3.727455,74.129907,71.774629,1
4,619,5.672919,15.738871,2.052251,78.396989,87.000225,0
...,...,...,...,...,...,...,...
75,864,3.265052,3.891606,1.399021,85.242993,77.457526,1
76,1108,3.587614,7.152264,1.504648,76.557158,77.424047,1
77,438,2.874118,6.377823,2.203024,83.568688,67.527120,1
78,678,2.061298,8.749673,1.763733,75.994739,91.523665,1
79,795,3.656956,6.081633,4.643739,76.284806,68.683617,1

In [7]:
#displays last 50 entries in the dataset

df.tail(50)

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition
19485,486,4.384494,7.561094,2.844382,80.892897,75.323924,1
19486,902,1.245728,5.847138,1.022217,74.647514,80.677103,0
19487,408,2.305619,4.009057,2.049261,77.072299,87.677012,1
19488,1406,2.791919,9.421817,2.771362,75.804230,74.523276,0
19489,581,3.346339,7.098358,2.447289,76.997394,85.397703,1
19490,1335,1.858533,6.578615,3.158061,83.468726,86.262583,0
19491,680,2.499519,8.196351,1.317740,76.474798,77.257753,1
19492,1200,3.006065,6.657061,3.155488,76.895356,85.312896,0
19493,478,5.423971,7.508909,2.557160,76.922122,71.686741,1
19494,649,2.980596,7.110046,2.781761,83.852832,79.879932,0
19495,760,3.290331,5.461292,2.191933,79.206805,72.876422,0
19496,480,5.014930,7.793114,1.144499,77.396892,69.771654,1
19497,536,2.542326,7.481426,1.258722,83.635347,67.562834,1
19498,497,3.625841,3.271060,1.968343,74.942707,74.772480,1
19499,924,3.844014,2.271132,1.736351,76.097318,84.600734,0
19500,456,2.260084,9.134608,2.609084,75.925102,78.839379,1
19501,734,1.994156,4.352117,2.261963,78.303957,79.597220,1
19502,757,2.742129,6.732460,3.186251,81.082055,69.971130,1
19503,556,2.835248,5.773431,3.037007,76.460973,85.707826,1
19504,609,3.087399,6.449772,2.926159,75.479598,78.570000,1
19505,694,2.734475,4.945807,0.805798,75.923568,84.292805,1
19506,846,3.158403,8.579341,6.304726,77.350999,75.148105,1
19507,689,2.590702,4.297606,1.099787,87.072833,87.357433,1
19508,768,1.824641,7.674013,2.842899,85.336140,76.485500,1
19509,576,1.864749,9.340316,2.636259,74.525696,72.010614,1
19510,747,3.121895,4.253208,1.979472,88.878872,87.505113,0
19511,561,2.398631,3.998412,3.105764,77.462929,83.992029,0
19512,710,2.620655,11.214721,2.636433,76.669624,72.884364,0
19513,587,3.414580,7.009809,3.407204,83.104510,74.211612,1
19514,789,2.764035,8.456321,1.597474,75.786447,82.086600,1
19515,630,2.514225,14.372844,2.282579,77.740757,84.109946,1
19516,882,2.392158,5.495176,2.983294,76.792912,72.268676,0
19517,1021,3.858196,5.002131,4.750641,75.238700,88.881739,1
19518,819,4.381741,7.102075,1.124923,77.584440,80.078876,1
19519,400,2.119023,6.841695,5.040924,76.955464,80.721581,1
19520,585,4.936251,6.469440,1.261866,87.631820,74.329189,1
19521,1011,5.085095,5.451618,1.362200,83.722624,74.444864,1
19522,629,1.949550,4.730967,1.471184,77.661168,92.551057,0
19523,1136,3.185263,6.019692,2.655349,78.087963,82.666896,1
19524,972,4.913058,14.660847,2.988643,76.825739,82.671033,1
19525,542,3.197979,3.520826,3.392164,75.789054,68.349748,1
19526,619,4.350691,9.093116,2.314457,76.821684,92.398667,1
19527,997,2.403141,6.784254,1.656750,74.341755,80.989245,1
19528,549,2.929697,3.826892,1.977592,76.902564,74.912950,1
19529,797,3.368795,6.057227,1.721997,74.295698,75.222218,0
19530,902,4.117296,4.981360,4.346564,75.951627,87.925087,1
19531,694,4.817720,10.866701,6.186689,75.281430,74.928459,1
19532,684,2.673344,4.927376,1.903572,76.844940,86.337345,1
19533,696,3.094163,8.291816,1.221729,77.179693,73.624396,1
19534,504,3.775246,3.962480,2.038647,75.564313,80.421421,1

In [9]:
#to view the null values

df.isnull()

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
19530,False,False,False,False,False,False,False
19531,False,False,False,False,False,False,False
19532,False,False,False,False,False,False,False
19533,False,False,False,False,False,False,False
19534,False,False,False,False,False,False,False

In [10]:
#returns the description of the dataset

df.describe()

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition
count,19535.000000,19535.000000,19535.000000,19535.000000,19535.000000,19535.000000,19535.000000
mean,791.239263,3.303775,6.655615,2.335369,77.643420,78.427433,0.630509
std,267.611193,1.021643,2.761021,1.036382,3.110984,6.206749,0.482679
min,61.000000,0.003384,0.003187,0.002483,71.321974,61.673325,0.000000
25%,593.000000,2.518815,4.916886,1.600466,75.725990,73.895421,0.000000
50%,746.000000,3.162035,6.201720,2.166883,76.817350,78.346662,1.000000
75%,934.000000,4.055272,7.744973,2.848840,78.071691,82.915411,1.000000
max,2239.000000,7.265566,21.138326,7.478505,89.580796,195.527912,1.000000

In [11]:
# sum of entries within the null values

df.isnull().sum()

Engine rpm          0
Lub oil pressure    0
Fuel pressure       0
Coolant pressure    0
lub oil temp        0
Coolant temp        0
Engine Condition    0
dtype: int64

In [12]:
#sum of entries within the values which are not null

df.notnull().sum()

Engine rpm          19535
Lub oil pressure    19535
Fuel pressure       19535
Coolant pressure    19535
lub oil temp        19535
Coolant temp        19535
Engine Condition    19535
dtype: int64

In [21]:
#DATA STANDARDIZATION
#create a new column 'New value' and enter the value from 'Engine rpm' divided by 2

df['New value'] = 2/df["Engine rpm"]
df.head(80)

,Engine rpm,Lub oil pressure,Fuel pressure,Coolant pressure,lub oil temp,Coolant temp,Engine Condition,New value
0,700,2.493592,11.790927,3.178981,84.144163,81.632187,1,0.002857
1,876,2.941606,16.193866,2.464504,77.640934,82.445724,0,0.002283
2,520,2.961746,6.553147,1.064347,77.752266,79.645777,1,0.003846
3,473,3.707835,19.510172,3.727455,74.129907,71.774629,1,0.004228
4,619,5.672919,15.738871,2.052251,78.396989,87.000225,0,0.003231
...,...,...,...,...,...,...,...,...
75,864,3.265052,3.891606,1.399021,85.242993,77.457526,1,0.002315
76,1108,3.587614,7.152264,1.504648,76.557158,77.424047,1,0.001805
77,438,2.874118,6.377823,2.203024,83.568688,67.527120,1,0.004566
78,678,2.061298,8.749673,1.763733,75.994739,91.523665,1,0.002950
79,795,3.656956,6.081633,4.643739,76.284806,68.683617,1,0.002516

In [ ]:
#DATA NORMALIZATION